/* --------------------- Root & Font --------------------- */

@font-face {
  font-family: 'GilroyExtraBold';
  src: url('./fonts/Gilroy-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'MuseoSans';
  src: url('./fonts/MuseoSans.otf') format('opentype');
}

:root {
  --base--black: #202020;
  --base--grey-19: #4A4A4A;
  --base--grey-62: #AAA;
  --base--grey-97: #F8F8F8;
  --base--white: #fff;

  --primary--yellow-accent: #E0B31E;
  --primary--orange-accent: #E09B44;
  --primary--blue-accent: #74C9C3;
  --primary--green-accent: #7ABA4A;
  
  --primary--yellow-background: #FCF7E8;
  --primary--orange-background: #FCF5EC;
  --primary--blue-background: #F1FAF9;
  --primary--green-background: #F2F8ED;
}

/* --------------------- Elements --------------------- */

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--base--white);
  font-family: MuseoSans;
  margin: 0;
  padding: 0;
}

a {
  list-style-type: none;
  text-decoration: none;
  color: unset;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: GilroyExtraBold;
  margin: 0.4em 0;
}

p {
  line-height: 1.6;
}

/* --------------------- Navigation --------------------- */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}

.nav__logo {
  width: 6em;
}

.nav__menu--button {
  font-size: 1.2em;
}

.nav__menu {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 0.4em;
}

.nav__menu--icon {
  height: 1.2em;
}

/* --------------------- Footer --------------------- */

.footer {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__logo {
  width: 8em;
  padding-bottom: 2em;
  margin: 0 auto;
}

.footer__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.footer__socials {
  padding-top: 1em;
  display: flex;
  align-items: center;
}

.footer__socials img {
  width: 1.8em;
  padding: 0 0.4em;
}

.footer__socials img:nth-of-type(4) {
  width: 1.6em;
}

/* --------------------- Main --------------------- */

.main {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 20px;
}

.main__intro {
  grid-column: col-start 2 / span 10;
  text-align: center;
}

.main__intro--results {
  grid-column: col-start 2 / span 10;
}

.main__scores {
  grid-column: col-start 2 / span 10;
}

.main__scores--blue {
  font-size: 2em;
  color: var(--primary--blue-accent);
}

.main__scores--percentage {
  display: flex;
}

.main__content {
  grid-column: col-start 2 / span 10;
}

.main__content--intro {
  grid-column: col-start 2 / span 10;
}

.main__content--carrousel {
  min-height: 14em;
}

.main__content--carrousel img {
  width: 52px;
}

.main__content--photo {
  width: 85vw;
  margin: 1em auto;
}

/* --------------------- Carrousel / Slideshow --------------------- */

.main__carrousel--navigation {
  text-align: center;
  margin: 1em 2em 2em 2em;
}

.main__carrousel--navigation a {
  margin: 1em;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  color: var(--base--black);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--base--grey-62);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: var(--base--grey-19);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/* --------------------- Media Queries --------------------- */

/* XS */

@media screen and (max-width: 575px) {
  h1 {
    margin: 1em 0;
  }
  
  h2, h3, h4, h5, h6 {
    margin: 0.8em 0;
  }

  .main__scores--blue {
    margin-bottom: 0.4em;
  }

  .main__content--intro {
    margin: 2em 0;
  }
}

/* S */

@media screen and (min-width: 576px) and (max-width: 767px) {
  h1 {
    font-size: 2.6em;
  }

  h2 {
    font-size: 1.8em;
  }

  h3 {
    font-size: 1.4em;
  }

  p {
    font-size: 1.2em;
  }

  .main__content--carrousel {
    margin-top: 2em;
  }

  .main__content--intro {
    margin-top: 2em;
  }

  .nav__logo {
    width: 8em;
  }

  .nav__menu--button {
    font-size: 1.6em;
  }

  .nav__menu--icon {
    height: 1.6em;
  }
}

/* M */

@media screen and (min-width: 768px) and (max-width: 1199px) {
  h1 {
    font-size: 2.6em;
  }

  h2 {
    font-size: 1.8em;
  }

  h3 {
    font-size: 1.4em;
  }

  p {
    font-size: 1.2em;
  }

  .main__content--carrousel {
    margin-top: 2em;
  }

  .main__content--intro {
    margin-top: 2em;
  }

  .nav {
    width: 85vw;
    margin: 0 auto;
  }

  .nav__logo {
    width: 8em;
  }

  .nav__menu--button {
    font-size: 1.6em;
  }

  .nav__menu--icon {
    height: 1.6em;
  }
}

/* L */

@media screen and (min-width: 1200px) and (max-width: 1559px) {
  h1 {
    font-size: 2.6em;
  }

  h2 {
    font-size: 1.8em;
  }

  h3 {
    font-size: 1.4em;
  }

  p {
    font-size: 1.2em;
  }

  .nav {
    width: 85vw;
    margin: 0 auto;
  }

  .nav__logo {
    width: 8em;
  }

  .nav__menu--button {
    font-size: 1.6em;
  }

  .nav__menu--icon {
    height: 1.6em;
  }

  .main__content--intro {
    margin-top: 2em;
  }
  
  .main__intro {
    grid-column: col-start 4 / span 6;
  }

  .main__intro--results {
    grid-column: col-start 2 / span 5;
  }

  .main__scores {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 3em;
  }

  .main__scores--blue {
    font-size: 2.6em;
  }

  .main__carrousel--navigation {
    display: none;
  }
  
  .main__content--carrousel {
    margin: 3em 0;
    display: grid;
    gap: 3em;
    grid-template-columns: 1fr 1fr;
  }
}

/* XL */

@media screen and (min-width: 1560px) {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 1.8em;
  }

  h3 {
    font-size: 1.4em;
  }

  p {
    font-size: 1.2em;
  }

  .nav {
    width: 85vw;
    margin: 0 auto;
  }

  .nav__logo {
    width: 8em;
  }

  .nav__menu--button {
    font-size: 1.6em;
  }

  .nav__menu--icon {
    height: 1.6em;
  }

  .main__content--intro {
    margin: 4em 0;
    max-width: 55em;
  }
  
  .main__intro {
    grid-column: col-start 5 / span 4;
    margin: 2em 0;
  }

  .main__intro--results {
    grid-column: col-start 2 / span 5;
  }

  .main__scores {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 3em;
    margin: 2em 0;
  }

  .main__scores--blue {
    font-size: 3em;
  }

  .main__carrousel--navigation {
    display: none;
  }
  
  .main__content--carrousel {
    margin: 6em 0;
    display: grid;
    gap: 4em;
    grid-template-columns: 1fr 1fr;
  }

  .main__content--carrousel p {
    font-size: 1em;
  }

  .main__outro {
    max-width: 55em;
    margin: 6em auto;
  }
}
