/* --------------------- Root & Font --------------------- */

@font-face {
  font-family: 'GilroyExtraBold';
  src: url('./fonts/Gilroy-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'MuseoSans';
  src: url('./fonts/MuseoSans.otf') format('opentype');
}

:root {
  --base--black: #202020;
  --base--grey-19: #4A4A4A;
  --base--grey-62: #AAA;
  --base--grey-97: #F8F8F8;
  --base--white: #fff;

  --primary--yellow-accent: #E0B31E;
  --primary--orange-accent: #E09B44;
  --primary--blue-accent: #74C9C3;
  --primary--green-accent: #7ABA4A;
  
  --primary--yellow-background: #FCF7E8;
  --primary--orange-background: #FCF5EC;
  --primary--blue-background: #F1FAF9;
  --primary--green-background: #F2F8ED;
}

/* --------------------- Elements --------------------- */

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--base--white);
  font-family: MuseoSans;
}

a {
  list-style-type: none;
  text-decoration: none;
  color: unset;
}

h1, h2, h3, h4, h5, h6 {
  font-family: GilroyExtraBold;
}

/* --------------------- Navigation --------------------- */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}

.nav__logo {
  width: 6em;
}

.nav__menu--button {
  font-size: 1.2em;
}

.nav__menu {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 0.4em;
}

.nav__menu--icon {
  height: 1.2em;
}

/* --------------------- Footer --------------------- */

.footer {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__logo {
  width: 8em;
  padding-bottom: 2em;
  margin: 0 auto;
}

.footer__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.footer__socials {
  padding-top: 1em;
  display: flex;
  align-items: center;
}

.footer__socials img {
  width: 1.8em;
  padding: 0 0.4em;
}

.footer__socials img:nth-of-type(4) {
  width: 1.6em;
}

/* --------------------- Main --------------------- */

.main {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 20px;
}

.main__intro {
  text-align: center;
  grid-column: col-start 2 / span 10;
}

.main__timeline {
  background-color: var(--base--grey-62);
  width: 2px;
  height: 100vh;
  position: sticky;
  top: 0;
  grid-column: col-start 2 / span 3;
  grid-row: 2;
}

.main__timeline--active {
  background-color: var(--base--black);
  height: 10%;
  position: relative;

}

.main__timeline--dot {
  background-color: var(--base--black);
  position: absolute;
  bottom: 0;
  left: -4px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.main__timeline--fade {
  height: 160px;
  background: linear-gradient(180deg, var(--base--white) 0%, var(--base--grey-62) 33%,var(--base--black) 100%);
}

.main__timeline--content {
  grid-column: col-start 3 / span 9;
  grid-row: 2;
}

/* --------------------- Media Queries --------------------- */

/* XS */

@media screen and (max-width: 575px) {
  body {
    background-color: var(--primary--blue-background);
  }
}

/* S */

@media screen and (min-width: 576px) and (max-width: 767px) {
  body {
    background-color: var(--primary--green-background);
  }
}

/* M */

@media screen and (min-width: 768px) and (max-width: 1199px) {
  body {
    background-color: var(--primary--orange-background);
  }
}

/* L */

@media screen and (min-width: 1200px) and (max-width: 1559px) {
  body {
    background-color: var(--primary--orange-background);
  }
}

/* XL */

@media screen and (min-width: 1560px) {
  body {
    background-color: var(--primary--blue-background);
  }
}
